<script
  type="text/javascript"
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<link href="http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css" rel="stylesheet" type="text/css">
<style>
  @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
  :root {
    --base-font-family: "Spoqa Han Sans Neo", "sans-serif";
    --article-font-family: var(--base-font-family);
    --code-font-family: D2Coding, 'D2 coding', Menlo, Monaco, Consolas, "Courier New";
  }
</style>
